<!DOCTYPE html>
<html>
<head>
  <title></title>
  <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
  <script type="text/javascript" src="/chat.js"></script>
  <script type="text/javascript" src="socket.io/socket.io.js"></script>
</head>
<style type="text/css">
  #content{
    width: 500px;
    height: 300px;
    margin: 0 0 20px 0;
    border: solid 1px #999;
    overflow-y: scroll;
  }
</style>
<body>
  <div id="content"></div>
  <div class="controls">
    Name: <input type="text" id="name" style="width:350px;"> <br>
    <input type="text" style="width:350px;" id ="field">
    <input type="button" id="send" value="Send">
  </div>
</body>
</html>